/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import '../../../assets/scss/variables';

.view-game-score {
  left: 0;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
}

.view-game-score-inner {
  background: transparent no-repeat top -35px center / cover;
  height: 100px;
  margin: auto;
  position: relative;
  padding: 5px 10px 10px 10px;
  text-align: center;
  width: 200px;
  z-index: 20;
}

.view-boy .view-game-score-inner {
  background-image: url('/assets/images/ui/scoreboard-b.svg');
}

.view-girl .view-game-score-inner {
  background-image: url('/assets/images/ui/scoreboard-g.svg');
}

.view-viking .view-game-score-inner {
  background-image: url('/assets/images/ui/scoreboard-v.svg');
}

.view-game-score-score {
  align-items: center;
  display: flex;
  font-size: 1.75rem;
  height: 50px;
  justify-content: center;
  padding: 5px 0;

  > div {

    &:first-child {
      margin-right: 10px;
      height: 45px;
      width: 45px;
    }

    &:last-child {
      margin-right: 7px;
    }
  }
}

.view-game-score-notif {
  left: 50%;
  margin-left: -90px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 15px;
  transition: top 0.3s ease, opacity 0.15s ease;
  width: 180px;
  z-index: 10;
}

.view-game-score-notif-inner {
  border-radius: 10px;
  color: white;
  padding: 3px 6px;
}

.view-game-score-notif-positive {
  background: $color-positive;
}

.view-game-score-notif-negative {
  background: $color-negative;
}

.view-game-score-notif-already {
  background: $color-neutral;
  color: #525252;
}

.view-game-score-notif-label {
  font-size: 1.5rem;
  font-weight: bold;
}

.view-game-score-notif-score mat-icon {
  vertical-align: middle;
}
