<div class="view-game-score">
    <div class="view-game-score-inner" *ngIf="showScore && game">
        <div class="view-game-score-score"
             [ngClass]="{'positive': game.getScore() > 0, 'negative': game.getScore() < 0}">
            <div>
                <app-animation [autoplay]="true" animation="cup"></app-animation>
            </div>
            <div>
                <span>{{ game.getScore() }}</span>
            </div>
        </div>
        <div class="view-tirettes-question">
            {{ game.getProgressLabel() }} {{ game.getCurrentStep() }}/{{ game.getStepsAmount() }}
        </div>
    </div>
    <div class="view-game-score-notif"
         [@scoreVisibility]="trigger"
         (@scoreVisibility.done)="onAnimationDone($event)"
         [ngSwitch]="state">
        <div *ngSwitchCase="'correct'" class="view-game-score-notif-inner view-game-score-notif-positive">
            <div class="view-game-score-notif-label">Bravo!</div>
            <div class="view-game-score-notif-score">
                <mat-icon>mood</mat-icon>
                <ng-container *ngIf="showScore">+{{ scoreChange }}</ng-container>
            </div>
        </div>
        <div *ngSwitchCase="'incorrect'" class="view-game-score-notif-inner view-game-score-notif-negative">
            <div class="view-game-score-notif-label">Oops</div>
            <div class="view-game-score-notif-score">
                <mat-icon>mood_bad</mat-icon>
                <ng-container *ngIf="showScore">{{ scoreChange }}</ng-container>
            </div>
        </div>
        <div *ngSwitchCase="'already'" class="view-game-score-notif-inner view-game-score-notif-already">
            <div class="view-game-score-notif-label">Déjà essayé!</div>
        </div>
    </div>
</div>
