<div class="view-summary" [@opening]="true">
    <div class="view-summary-inner panel">
        <h1>
            <app-animation [autoplay]="true" animation="cup"></app-animation>
            Exercice terminé !
        </h1>
        <ng-container *ngIf="!bound">
            <p>Bravo ! Tu as fait un score de <strong>{{ game?.getScore() }}</strong>.</p>
            <button class="button-lg"
                    *ngIf="!game?.isScoreLocked() && game?.getExercise().HasLeaderboard"
                    (click)="saveScore()">
                Inscrire au classement!
            </button>
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Résumé du score</h3>
                        <div class="view-summary-questions">
                            <table>
                                <tr *ngFor="let result of game.getResults()">
                                    <td>{{ result.getLabel() }}</td>
                                    <td><span>{{ result.getScore() }}</span>
                                        <span *ngIf="result.getMaxScore() > 0">/ {{ result.getMaxScore() }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <th>{{ game.getScore() }}</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3>Evolution du score des <strong>5</strong> dernières parties de ce mode</h3>
                        <canvas baseChart
                                [datasets]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [legend]="false"
                                [type]="'line'"></canvas>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
