/* ----------------------------------------------------------- *
 |
 |  View's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import '../../../assets/scss/variables';

$grey-palette: mat.$m2-grey-palette;

.view-summary {
  text-align: center;

  h1 {
    margin-bottom: 15px;

    svg {
      height: 80px !important;
      width: 80px !important;
    }
  }

  img {
    margin-bottom: 15px;
  }

  p {
    font-size: 1.4rem;
    font-weight: 100;
  }

  table {
    text-align: left;
    font-weight: 100;
    margin: auto;
    max-width: 450px;
    width: 100%;

    tr:nth-child(odd) {
      background: map-get($grey-palette, 100);
    }

    td {
      padding: 5px;
    }

    td:nth-child(1) {
      padding-right: 5px;
    }

    td:nth-child(2) {
      span {
        color: $color-positive;
      }

      white-space: nowrap;
    }

    th:nth-child(2) {
      color: $color-positive;
    }
  }

  hr {
    margin-top: 25px;
  }

  h3 {
    font-size: 1.25rem;
    margin-top: 25px;
  }

  canvas {
    margin: auto;
    width: 100%;
    max-width: 450px;
  }
}

.view-summary-inner {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: inline-block;
  padding: 25px 15px 15px 15px;

  button {
    font-size: 1rem;
    height: 70px;
  }
}

// This element wraps the table displaying
// results details. The goal here is to enable
// the Y scroll if necessary.
.view-summary-questions {
  overflow-y: auto;
  max-height: 225px;
}
