/* ----------------------------------------------------------- *
 |
 |  App styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import 'variables';

/* ----------------------------------------------------------- *
 |
 | App layout
 |
 * ----------------------------------------------------------- */

@font-face {
  font-family: "opendyslexic";
  src: url('/assets/fonts/OpenDyslexic-Regular.otf');
}

.opendyslexic {
  font-family: "opendyslexic", monospace !important;

  button {
    font-family: "opendyslexic", monospace !important;
  }
}
