/* ----------------------------------------------------------- *
 |
 |  Variables
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

$color-positive: #44ba50;
$color-negative: #d6625d;
$color-neutral: #a8a8a8;
