/* ----------------------------------------------------------- *
 |
 |  Base styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;

$palette-deep-purple: mat.$m2-deep-purple-palette;
$palette-grey: mat.$m2-grey-palette;
@import 'variables';
@import 'app';
@import 'overrides';

@include mat.core();

html {
  // overflow: hidden;
}

body {
  background: #333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  touch-action: pan-y;
  user-select: none;
}

/* ----------------------------------------------------------- *
 |
 | Headings
 |
 * ----------------------------------------------------------- */

h1 {
  font: 5rem/1.2 'Love Ya Like A Sister', cursive;
}

h2 {
  font: 4rem/1.2 'Love Ya Like A Sister', cursive;
}

h3 {
}

.serious {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/ticks.png");

  h1 {
    font: 100 2.5rem/1.428571429 Roboto, sans-serif;
  }

  h2 {
    font: 100 1.8rem/1.428571429 Roboto, sans-serif;
  }
}

/* ----------------------------------------------------------- *
 |
 | Links
 |
 * ----------------------------------------------------------- */

a {
  color: map-get($palette-deep-purple, 500);

  &:hover {
    color: map-get($palette-deep-purple, 500);
  }
}

/* ----------------------------------------------------------- *
 |
 | Views
 |
 * ----------------------------------------------------------- */

.view {
  height: 100vh;
  padding: 0 25px 15px 25px;
  position: relative;
  width: 100%;
}

.contained .view {
  height: calc(100vh - 80px);
}

.view-tutorial {
  color: white;
  font: 2.8rem/1.1 'Amatic SC', cursive;
  margin-bottom: 25px;
  padding: 10px 0;
  text-align: center;
}

.view-button-back {
  left: 15px;
  position: absolute;
  top: 25px;
  z-index: 200;

  button {
    transition: transform 0.25s ease;

    &:hover,
    &:active,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.view-controls-bound {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  > div {
    background: white;
    border-radius: 25px;
    padding: 20px 40px;

    > button:first-child {
      margin-right: .5rem;
    }
  }
}

.view-controls-bottom {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;

  button {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}

.view-controls-bottom-inner {
  background: transparent no-repeat bottom center / contain;
  display: inline-block;
  padding: 25px 15px 8px 15px;
  width: 300px;

  button {
    transition: transform 0.25s ease;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.1);
    }
  }
}

.view-boy {
  .view-tutorial {
    background: #459d9b;
  }

  .view-controls-bottom-inner-1 {
    background-image: url('/assets/images/ui/answerboard-b-1.svg');
  }

  .view-controls-bottom-inner-2 {
    background-image: url('/assets/images/ui/answerboard-b-2.svg');
  }

  .view-controls-bottom-inner-3 {
    background-image: url('/assets/images/ui/answerboard-b-3.svg');
  }
}

.view-girl {
  .view-tutorial {
    background: #957a98;
  }

  .view-controls-bottom-inner-1 {
    background-image: url('/assets/images/ui/answerboard-g-1.svg');
  }

  .view-controls-bottom-inner-2 {
    background-image: url('/assets/images/ui/answerboard-g-2.svg');
  }

  .view-controls-bottom-inner-3 {
    background-image: url('/assets/images/ui/answerboard-g-3.svg');
  }
}

.view-viking {
  .view-tutorial {
    background: #848982;
  }

  .view-controls-bottom-inner-1 {
    background-image: url('/assets/images/ui/answerboard-v-1.svg');
  }

  .view-controls-bottom-inner-2 {
    background-image: url('/assets/images/ui/answerboard-v-2.svg');
  }

  .view-controls-bottom-inner-3 {
    background-image: url('/assets/images/ui/answerboard-v-3.svg');
  }
}

/* ----------------------------------------------------------- *
|
| Lists
|
* ----------------------------------------------------------- */

.list {
  background: white;
  height: 300px;
  list-style-type: none;
  margin: 15px 0;
  overflow-y: auto;
  padding-left: 0;

  li {
    padding: 10px 15px;

    &:nth-child(odd) {
      background: map-get($palette-grey, 50);
    }
  }
}

/* ----------------------------------------------------------- *
 |
 | Panel
 |
 * ----------------------------------------------------------- */

.panel {
  @include mat.elevation(8);

  background: white;
  border: 6px solid #dedede;
  border-radius: 10px;
}

/* ----------------------------------------------------------- *
 |
 | Scrollbars
 |
 * ----------------------------------------------------------- */

.scrollbar {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: map-get($palette-grey, 50);
  }

  &::-webkit-scrollbar-thumb {
    background: map-get($palette-deep-purple, 300);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: map-get($palette-deep-purple, 400);
  }
}

/* ----------------------------------------------------------- *
 |
 | Buttons
 |
 * ----------------------------------------------------------- */

.button-clean {
  background: transparent;
  border: none;
  color: map-get($palette-deep-purple, 600);
  display: inline;
  outline: none;
  margin-bottom: 10px;
  padding: 0;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

.button-lg {
  background: url('/assets/images/buttons/button-rect.svg') no-repeat center center / contain;
  border: none;
  color: rgba(#333, 0.85);
  font-size: 1.5rem;
  padding: 10px 35px;
  transition: opacity 0.25s ease, background-color 0.25s ease;

  &:hover {
    cursor: pointer;
    background-image: url('/assets/images/buttons/button-rect-hover.svg');
  }
}

.button-base {
  display: inline-block;
  font: bold 2rem/1.4 'Amatic SC', cursive;
  padding: .75rem 1.25rem;
  text-decoration: none !important;
}

.button {
  border: 3px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 1);
  font: bold 2rem/1.4 'Amatic SC', cursive;
  display: inline-block;
  outline: none !important;
  padding: .75rem 1.25rem;
  position: relative;
  text-decoration: none !important;
  transition: transform .25s ease, box-shadow .25s ease;

  &.button-sm {
    font-size: 1.5rem;
    padding: .4rem .8rem;
  }

  &.button-md {
    font-size: 1.75rem;
    padding: .5rem 1rem;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus,
  &:hover {
    border-color: rgba(255, 255, 255, .98);
  }

  &:active {
    transform: scale(.95) translate(6px, 6px);
    box-shadow: 0 0;
  }
}

.button-pink {
  background: linear-gradient(-5deg, #d35373, #b01a8b);
  color: rgba(255, 255, 255, 0.95) !important;
}

.button-yellow {
  background: linear-gradient(-5deg, #ec8b03, #fdce33);
  color: rgba(0, 0, 0, 0.95) !important;
}

.button-green {
  background: linear-gradient(-5deg, #28b719, #4be356);
  color: rgba(255, 255, 255, 0.95) !important;
}

/* ----------------------------------------------------------- *
 |
 | Utilities
 |
 * ----------------------------------------------------------- */

.positive {
  color: $color-positive;
}

.negative {
  color: $color-negative;
}

.va {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}

// vertical align
.va-middle,
.va-bottom {
  display: table-cell;
}

.va-middle {
  vertical-align: middle;
}

.va-bottom {
  vertical-align: bottom;
}
