/* ----------------------------------------------------------- *
 |
 |  View's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;

@import '../../../../../assets/scss/variables';

@mixin shadow() {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.view-game-text {
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  left: 0;
  min-height: 100vh;
  overflow: auto;
  position: fixed;
  padding: 150px 0 100px 0;
  right: 0;
  top: 0;

  h1 {
    font-size: 6vw;
    line-height: 1;

    @media(min-width: 1350px) {
      font-size: 5rem;
    }
  }
}

.game-text-group {
  display: inline-block;
  white-space: nowrap;

  span {
    display: inline-block;
    position: relative;
    white-space: pre-wrap;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:after {
      content: '';
      display: block;
      height: 5px;
      bottom: -5px;
      left: 0;
      position: absolute;
      pointer-events: none;
      right: 0;
    }
  }

  span.is-interactable {
    display: inline-block;
    margin: 1px 0;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    &.selected {
      color: white;
    }

    &.is-correct:after {
      background: #00ee00;
    }

    &.is-wrong:after {
      background: #cb0404;
    }
  }
}

.game-text-wrap,
.game-text-wrap-main {
  position: relative;
  z-index: 100;
}

.game-text-wrap {
  margin: auto auto 25px auto;
  max-width: 95%;
  width: 800px;
}

.game-text-wrap-main {
  margin: auto;
  width: 800px;

  @media only screen and (max-width: 1320px) {
    margin-left: 270px;
    width: calc(100vw - 300px);
  }
}

.game-text-block {
  background: white;
  border-radius: 10px;
  border: 5px solid transparent;
  padding: 10px 15px;
}

:host-context(.view-girl) {
  .game-text-side-tools > div:not(:last-child),
  .game-text-block {
    border-color: #6b486e;
  }
}

:host-context(.view-viking) {
  .game-text-side-tools > div:not(:last-child),
  .game-text-block {
    border-color: #5f5b51;
  }
}

:host-context(.view-boy) {
  .game-text-side-tools > div:not(:last-child),
  .game-text-block {
    border-color: #456b6c;
  }
}

.game-text-guidelines {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.game-text-guidelines-main {
  background: white;
  border-radius: 10px;
  max-width: 90%;
  padding: 1.25rem;
  width: 750px;
}

.game-text-guideline-group span {
  color: white;
}

.game-text-guidelines-example {
  background: #f4f4f4;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;

  div {
    line-height: 1.8;
  }
}

.game-text-results {
  &.is-correct {
    background: #cbfd8b;
    border-color: rgba(0, 0, 0, 0.15) !important;
    font-size: 1.25rem;
    font-weight: bold;
  }

  &.is-wrong {
    background: #f35e5e;
    border-color: rgba(0, 0, 0, 0.15) !important;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.game-text-side-tools {
  left: calc(50% - 250px - 415px - 10%);
  opacity: 0;
  padding: 10px 12px;
  position: fixed;
  top: 150px;
  transition: left 0.3s ease, opacity 0.3s ease;
  width: 250px;

  &.is-visible {
    left: 10px;
    opacity: 1;

    @media(min-width: 1350px) {
      left: calc(50% - 250px - 415px);
    }
  }

  > div:not(:last-child) {
    border-bottom: 3px solid transparent;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.game-text-groups {
  button {
    border: 4px solid transparent;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 0.3rem .6rem;
    width: 100%;

    &:not(:last-child) {
      margin-right: 7px;
    }

    &.selected,
    &:active,
    &:focus,
    &:hover {
      border-color: rgba(0, 0, 0, .5);
      cursor: pointer;
      outline: none;
    }
  }
}

.game-text-tools-controls {
  text-align: center;
}

.game-text-accessibility {
  text-align: center;

  > div:first-child {
    margin-bottom: 1rem;
  }

  button + button {
    margin-left: 1.5rem;
  }
}

.game-text-content {
  line-height: 1.7;

  h1 {
    margin: 1rem 0;
    font-size: 3.5rem;
  }
}

.game-text-input-show {
  text-align: right;
}

.game-text-input {
  @include shadow();
  background: white;
  margin: 20px auto;
  max-width: 100%;
  padding: 10px 15px;
  width: 800px;
}

.game-text-controls {
  padding-top: 10px;
  text-align: center;

  button {
    background: map-get(mat.$m2-green-palette, 500);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 10px;
  }
}

::ng-deep {
  .blue, .green, .purple {
    border-bottom: 5px solid transparent;
    color: white;
    padding: 0 .25rem;
  }

  .blue {
    background: #3cb0e0;
  }

  .green {
    background: #5ed155;
  }

  .purple {
    background: #b667fc;
  }
}

.tulas {
  background: white;
  width: 100px;
}

.tulas span {
  white-space: pre-wrap;
}
