<div class="view-game-text" #fs
     [class.opendyslexic]="dysmode">

    <div class="game-text-side-tools game-text-block" [class.is-visible]="started">
        <h5 class="mb-3">Groupes</h5>
        <div class="game-text-groups">
            <button *ngFor="let ch of exercise.Chains"
                    (click)="selectChain(ch)"
                    [class.selected]="ch === chain"
                    [style.background]="ch.color">
                {{ ch.label }}
            </button>
        </div>
        <div class="game-text-accessibility">
            <div>
                <button (click)="speak()" *ngIf="!IsSpeechActive" class="button button-yellow button-sm">
                    <span class="fa fa-microphone"></span> Lire le texte
                </button>
                <ng-container *ngIf="IsSpeechActive">
                    <button (click)="stopSpeaking()" class="button button-yellow button-sm">
                        <span class="fa fa-stop"></span>
                    </button>
                    <button (click)="toggleSpeaking()" class="button button-yellow button-sm">
                        <ng-container *ngIf="!IsSpeechPaused"><span class="fa fa-pause"></span></ng-container>
                        <ng-container *ngIf="IsSpeechPaused"><span class="fa fa-play"></span></ng-container>
                    </button>
                </ng-container>
            </div>
            <div>
                <label class="mr-4">
                    OpenDyslexic
                    <input type="checkbox" [(ngModel)]="dysmode" (change)="onFontChangedHandler()"/>
                </label>
            </div>
        </div>
        <div *ngIf="!showSolution && !game.IsSolved"
             class="game-text-tools-controls">
            <button (click)="validate()"
                    class="button button-green button-md">
                Corriger
            </button>
        </div>
    </div>

    <div class="game-text-guidelines" *ngIf="!started && exercise">
        <div class="game-text-block game-text-guidelines-main">
            <h2 class="text-center">Consigne</h2>
            <p class="game-text-guideline">
                Clique sur les groupes qui apparaîtront à ta gauche et surligne en couleur les mots du texte qui
                sont les substituts de:
            </p>
            <ul>
                <li class="game-text-guideline-group" *ngFor="let group of exercise.Chains">
                    <span [style.background-color]="group.color">{{ group.label }}</span>
                </li>
            </ul>
            <p>On appelle substitut (ou mot de reprise) tout mot qui peut en remplacer un autre.</p>
            <div class="game-text-guidelines-example">
                <strong>Exemple</strong>
                <div>
                    <span class="purple">La marmotte</span> est un mammifère. Tout l'été, <span class="purple">cette peluche vivante</span>...
                </div>
            </div>
            <p class="game-text-guideline text-center">
                <strong>Clique sur le bouton <em>Corriger</em> une fois que tu penses avoir terminé.</strong>
            </p>
            <p class="text-center mb-0">
                <button (click)="start()" class="button button-pink">
                    Commencer
                </button>
            </p>
        </div>
    </div>
    <ng-container *ngIf="started">
        <div class="game-text-wrap-main">
            <div class="game-text-block game-text-results mb-3 is-correct" *ngIf="showSolution; else noSolution">
                Voilà la solution.
                <div class="text-right">
                    <button (click)="continue()" class="button button-pink button-md">
                        Continuer
                    </button>
                </div>
            </div>
            <ng-template #noSolution>
                <ng-container *ngIf="game.IsSolved">
                    <div class="game-text-block game-text-results mb-3 is-correct">
                        Bravo, tu as tout trouvé!
                        <div class="text-right">
                            <button (click)="continue()" class="button button-pink button-md">
                                Continuer
                            </button>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="game.CorrectionStep > 0 && !game.IsSolved">
                    <div class="game-text-block game-text-results mb-3 is-wrong">
                        <strong>Zut, il y a quelques soucis!</strong>
                        <div class="game-text-results-right">
                            Tu as déjà trouvé <strong>{{ game.FoundWords }} bon(s) mot(s)</strong> tu dois en trouver
                            <strong>{{ game.TotalWords }}</strong>.
                        </div>
                        <div class="game-text-results-wrong" *ngIf="feedback.wrongWords.length > 0">
                            Il y a <strong>{{ feedback.wrongWords.length }}</strong> mot(s) faux dans ta solution.
                        </div>
                        <div class="game-text-results-message" *ngIf="game.CorrectionStep > 1">
                            <hr/>
                            Essaie encore! Regarde dans le texte tes bonnes réponses soulignées en vert et tes erreurs
                            en rouge.
                        </div>
                        <div class="mt-2 text-right"
                             *ngIf="game.CorrectionStep > 2">
                            <button (click)="solution()" class="button button-pink button-md">
                                Solution
                            </button>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
            <div class="game-text-block game-text-content">
                <h1>{{ exercise.Title }}</h1>
                <ng-container *ngFor="let paragraph of game.Paragraphs">
                    <p class="game-text-p">
                <span class="game-text-group" *ngFor="let group of paragraph.groups">
                    <ng-container *ngFor="let word of group.words">
                        <span (click)="select(word)"
                              [class.is-interactable]="word.interactable"
                              [class.selected]="word.chain != null"
                              [class.is-correct]="isWordCorrect(word)"
                              [class.is-wrong]="isWordWrong(word)"
                              [style.background]="getBackgroundColor(paragraph, word)">{{ word.value }}</span>
                    </ng-container>
                </span>
                    </p>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>
