/* ----------------------------------------------------------- *
 |
 |  View's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;

$palette-amber: mat.$m2-amber-palette;
$palette-grey: mat.$m2-grey-palette;
$palette-green: mat.$m2-green-palette;

.view-home {
  min-height: 100vh;
  padding: 0;
  position: relative;
  text-align: center;

  h2 {
    margin-bottom: 15px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;

    p {
      color: map-get($palette-grey, 700);
      font-size: 0.9rem;
      font-weight: 100;
      margin: 0;
      padding: 10px;
      text-align: center;
    }
  }
}

.view-home-logo-hep {
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;

  img {
    height: 100%;
    display: block;
    width: auto;
  }

  &:hover img {
    opacity: .5;
  }
}

.view-home-steps {
  height: 100vh;
  overflow: hidden;
  width: 100%;

  &.step-3 .view-home-selection-exercise {
    margin-top: -100vh;
  }

  &.step-4 .view-home-selection-exercise {
    margin-top: -200vh;
  }
}

.view-home-step {
  height: 100%;
  padding-top: 10vh;
  position: relative;
  width: 100%;
}

.view-home-step-back {
  left: 30px;
  position: absolute;
  top: 30px;
  transform: rotate(90deg);
  transition: transform 0.25s ease;

  img {
    max-width: 100%;
  }

  &:focus,
  &:hover {
    transform: rotate(90deg) scale(1.1);
  }
}

.view-home-selection-exercise {
  background: url('/assets/images/environments/home-exercise.svg') no-repeat top center / cover;
  transition: margin-top 0.25s ease;

  h2 {
    color: #1b1b1b;
  }
}

.view-home-selection-mode {
  background: url('/assets/images/environments/home-mode.svg') no-repeat center center / cover;
  padding-top: 15vh;

  h2 {
    color: #f4f4f4;
  }
}

.view-home-selection-hero {
  background: url('/assets/images/environments/home-hero.svg') no-repeat bottom center / cover;

  h2 {
    color: #1b1b1b;
  }
}

.view-home-header {
  background: white;
  border: 6px solid map-get($palette-amber, 400);
  border-radius: 35px;
  color: black;
  margin: 0 30px;
  padding: 30px 20px;

  h1 {
    margin-bottom: 0;
  }

  @include mat.elevation(4);
}

.home-defaults {
  margin-bottom: 50px;
}

.home-game {
  h2 {
    display: block;
    font-size: 3rem;
    margin: auto auto 2rem auto;
    max-width: 800px;
  }

  > div {
    display: flex;
    justify-content: center;
    margin: auto auto 3rem auto;

    button {
      margin: 0 1rem;
    }
  }
}

.home-menu {
  margin-top: 1rem;
  list-style-type: none;

  li {
    margin-bottom: 2rem;
  }
}

.home-exercise {
  margin: auto;
  max-width: 860px;
}

.view-home-logo {
  max-width: 100%;
  margin-bottom: 30px;
  width: 450px;

  @media(min-width: 1200px) {
    width: 600px;
  }
}

.view-home-language {
  text-align: center;
  margin-bottom: 1rem;
}

.view-home-exercises {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  label {
    margin-bottom: 0;
  }

  button {
    margin: 1rem .75rem;
  }
}

.exercise-selector {
  position: relative;
}

.exercise-add {
  margin-left: 2rem !important;
}

.exercise-remove {
  background: linear-gradient(-5deg, #d35373, #b01a8b);
  color: #fff;
  transition: transform 0.25s ease, border-color 0.25s ease;

  &:focus,
  &:active,
  &:hover {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transform: translate(50%, -50%) scale(1.1);
  }
}

.exercise-remove {
  border: 3px solid rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  font-size: 1.5rem;
  height: 45px;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
  top: 0;
  width: 45px;
  z-index: 10;
}

.view-home-start button {
  @include mat.elevation(4);
  background: map-get($palette-green, 600);
  border: 2px solid map-get($palette-green, 700);
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  padding: 10px 35px;

  &:hover {
    cursor: pointer;
  }
}

.modes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mode {
  color: white;
  height: 330px;
  margin: 0 7px 14px 7px;
  padding: 15px;
  text-align: center;
  transition: transform 0.25s ease;
  width: 235px;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);

    .mode-title {
      color: map-get($palette-amber, 100);
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(1) {
    background: url('/assets/images/home/card-tirettes.svg') no-repeat center center / cover;
  }

  &:nth-child(2) {
    background: url('/assets/images/home/card-classes.svg') no-repeat center center / cover;
  }

  &:nth-child(3) {
    background: url('/assets/images/home/card-silhouettes.svg') no-repeat center center / cover;
  }

  &:nth-child(4) {
    background: url('/assets/images/home/card-chains.svg') no-repeat center center / cover;
  }
}

.mode-title {
  font: 3rem/1.4 'Amatic SC', cursive;
}

.mode-icon {
  margin: 20px auto;
  height: 140px;
  width: 140px;
}

.mode-description {
  font: 100 1rem/1.1 'Roboto', sans-serif;
  padding: 7px;
}

.heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero {
  font: 3.5rem/1.4 'Amatic SC', cursive;
  margin: 10px 5px 10px 5px;
  text-align: center;
  transition: color 0.25s ease, transform 0.25s ease;

  &.is-selected {
    font-weight: bold;
    transform: scale(1.1);
  }

  &:focus,
  &:hover {
    cursor: pointer;
    font-weight: bold;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.hero-preview {
  height: 350px;
  margin-bottom: 15px;
  width: 250px;

  svg,
  img {
    border-radius: 50%;
    display: block;
    max-width: 100%;
  }
}

@mixin hero-c-scheme($color, $key) {
  color: $color;

  &.is-selected .hero-name {
    background: $color;
    border-radius: 2px;
    color: white;
    display: inline-block;
    line-height: 1;
    padding: 3px 8px;
  }

  .hero-preview {
    background: url('/assets/images/home/island-#{$key}.svg') no-repeat bottom center / contain;
  }
}

.hero-viking {
  @include hero-c-scheme(#848982, 'v');

  .hero-preview {
  }
}

.hero-boy {
  @include hero-c-scheme(#459d9b, 'b');
}

.hero-girl {
  @include hero-c-scheme(#957a98, 'g');
}

.game-start {
  height: 60px;
  opacity: 0;
  pointer-events: none;
  text-align: center;

  input {
    border: 2px solid #f3cf4e;
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 10px;
  }

  button {

    &:hover {
      cursor: pointer;
      background-image: url('/assets/images/buttons/button-rect-hover.svg');
    }
  }

  &.can-start {
    opacity: 1;
    pointer-events: all;
  }
}
