<div class="view view-home">
    <a href="https://hepfr.ch/" class="view-home-logo-hep" target="_blank">
        <img src="assets/images/logo-hep.svg" alt="HEP Fribourg"/>
    </a>
    <div class="view-home-steps" [ngClass]="'step-' + step">
        <div class="view-home-step view-home-selection-exercise">
            <div class="home-defaults">
                <img src="assets/images/logo.svg" class="view-home-logo" alt="La famille Gram"/>
                <ng-container *ngIf="!layoutSettings.contained">
                    <div class="home-step home-main" *ngIf="step == 0">
                        <ul class="home-menu">
                            <li>
                                <button class="button button-pink"
                                        (click)="newGame()">
                                    Nouvelle partie
                                </button>
                            </li>
                            <li>
                                <button class="button button-pink"
                                        (click)="loadSavedGame()">
                                    Charger une sauvegarde
                                </button>
                            </li>
                            <li>
                                <a class="button button-yellow" href="https://teacher.lafamillegram.ch" target="_blank">
                                    Accès enseignant</a>
                            </li>
                        </ul>
                    </div>
                    <div class="home-step home-game" *ngIf="step == 1">
                        <h2>Aide la famille Gram à construire le village !</h2>
                        <div>
                            <button class="button button-pink" (click)="selectGame('sentences')">
                                Construire des phrases
                            </button>
                            <button class="button button-pink" (click)="selectGame('substitutes')">
                                Chasser les substituts
                            </button>
                        </div>
                        <div>
                            <button class="button button-yellow" (click)="setStep(0)">
                                Retour
                            </button>
                        </div>
                    </div>
                    <div class="home-step home-exercise" *ngIf="step == 2">
                        <h2>Choisis un exercice</h2>
                        <div class="view-home-language" *ngIf="selectedGame == 'sentences'">
                            <app-languages-dropdown [languages]="languages$ | async"
                                                    (languageChange)="languageChangedHandler($event)"></app-languages-dropdown>
                        </div>
                        <div class="view-home-exercises">
                            <div class="exercise-selector" *ngFor="let exercise of exercises">
                                <button *ngIf="!exercise.IsDefault"
                                        class="button-clean exercise-remove"
                                        matTooltip="Retirer cet exercice"
                                        (click)="removeExercise(exercise)">
                                    <span class="fa fa-times"></span>
                                </button>
                                <button class="button button-pink" (click)="selectExercise(exercise)"
                                        [ngClass]="{'is-selected': selectedExercise == exercise}">
                                    {{ exercise.Name }}
                                </button>
                            </div>
                            <button class="exercise-add button button-yellow"
                                    matTooltip="Charger un exercice"
                                    *ngIf="gameService.canLoad()"
                                    (click)="addExercise()">
                                +
                            </button>
                        </div>
                        <div>
                            <button class="button button-yellow" (click)="setStep(1)">
                                Retour
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="view-home-step view-home-selection-mode">
            <button class="view-home-step-back button-clean" (click)="backToExercise()">
                <img src="assets/images/buttons/button-back.svg" width="80"/>
            </button>
            <div class="va">
                <div class="va-middle">
                    <h2>Mode de jeu</h2>
                    <div class="modes" *ngIf="SentencesExercise as exercise">
                        <div id="mode-tirettes" class="mode" (click)="selectMode('tirettes')"
                             [hidden]="!exercise.hasMode('tirettes')"
                             [ngClass]="{'is-selected': mode == 'tirettes'}">
                            <div class="mode-title">Tirettes</div>
                            <div class="mode-icon">
                                <app-animation [autoplay]="true" animation="pictos/tirettes"></app-animation>
                            </div>
                            <div class="mode-description">Contruis le plus possible de phrases correctes!</div>
                        </div>
                        <div id="mode-gram-class" class="mode" (click)="selectMode('gram-class')"
                             [hidden]="!exercise.hasMode('gram-class')"
                             [ngClass]="{'is-selected': mode == 'gram-class'}">
                            <div class="mode-title">Classes</div>
                            <div class="mode-icon">
                                <app-animation [autoplay]="true" animation="pictos/classes"></app-animation>
                            </div>
                            <div class="mode-description">Trouve la classe grammaticale des mots</div>
                        </div>
                        <div id="mode-silhouettes" class="mode" (click)="selectMode('silhouettes')"
                             [hidden]="!exercise.hasMode('silhouettes')"
                             [ngClass]="{'is-selected': mode == 'silhouettes'}">
                            <div class="mode-title">Silhouettes</div>
                            <div class="mode-icon">
                                <app-animation [autoplay]="true" animation="pictos/silhouettes"></app-animation>
                            </div>
                            <div class="mode-description">Crée une phrase en fonction de sa structure</div>
                        </div>
                        <div id="mode-chains" class="mode" (click)="selectMode('chains')"
                             [hidden]="!exercise.hasMode('chains')"
                             [ngClass]="{'is-selected': mode == 'chains'}">
                            <div class="mode-title">Chaînes</div>
                            <div class="mode-icon">
                                <app-animation [autoplay]="true" animation="pictos/chains"></app-animation>
                            </div>
                            <div class="mode-description">Trouve les chaînes d'accord d'une phrase</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-home-step view-home-selection-hero">
            <button class="view-home-step-back button-clean" (click)="backToMode()">
                <img src="assets/images/buttons/button-back.svg" width="80"/>
            </button>
            <div class="va">
                <div class="va-middle">
                    <h2>Choisis ton Gram</h2>
                    <div class="heroes">
                        <div class="hero hero-viking" (click)="selectHero('viking')"
                             [ngClass]="{'is-selected': hero == 'viking'}">
                            <div class="hero-name">Papi</div>
                            <div class="hero-preview">
                                <app-viking #viking></app-viking>
                            </div>
                        </div>
                        <div class="hero hero-girl" (click)="selectHero('girl')"
                             [ngClass]="{'is-selected': hero == 'girl'}">
                            <div class="hero-name">Anna</div>
                            <div class="hero-preview">
                                <app-girl #girl></app-girl>
                            </div>
                        </div>
                        <div class="hero hero-boy" (click)="selectHero('boy')"
                             [ngClass]="{'is-selected': hero == 'boy'}">
                            <div class="hero-name">Ludo</div>
                            <div class="hero-preview">
                                <app-boy #boy></app-boy>
                            </div>
                        </div>
                    </div>
                    <div class="game-start" [ngClass]="{'can-start': hero}">
                        <input type="text" [(ngModel)]="student" placeholder="Entre ton prénom" maxlength="16"/>
                        <button class="button-lg" (click)="start(selectedExercise)"
                                [disabled]="student?.length <= 0">
                            Démarrer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
