<div class="languages-dropdown" [class.open]="uiState.open">
    <button [@bumpAnimation]="language"
            *ngIf="language"
            class="languages-dropdown-selector button button-yellow">
        <app-flag [file]="language.Flag"></app-flag>
        <span>{{ language.Name }}</span>
    </button>
    <div class="languages-dropdown-list">
        <button class="button-base"
                *ngFor="let language of languages"
                (click)="select(language, $event)"
                [disabled]="!uiState.open">
            <app-flag [file]="language.Flag"></app-flag>
            <span>{{ language.Name }}</span>
        </button>
    </div>
</div>
