/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

:host {
  display: contents;
}

.languages-dropdown {
  display: inline-block;
  position: relative;
  user-select: none;
  z-index: 15;
}

.languages-dropdown-selector {
  align-items: center;
  display: inline-flex;
  gap: .5rem;
  padding: .15rem .75rem;
  position: relative;
  z-index: 17;

  &:hover {
    cursor: pointer;
  }
}

.languages-dropdown-list {
  background: linear-gradient(-5deg, #ec8b03, #fdce33);
  border: 3px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  transform: translateY(-10px) translateX(-50%);
  transition: transform .4s cubic-bezier(0.5, 1.8, 0.3, 0.8), opacity .25s ease;
  z-index: 16;
}

.languages-dropdown-list button {
  background: none;
  align-items: center;
  border: none;
  display: inline-flex;
  gap: .5rem;
  outline: none;
  padding: .15rem .75rem;
  transition: transform .15s ease;
  white-space: nowrap;

  &:focus,
  &:hover {
    color: white;
    cursor: pointer;
  }

  &:active {
    transform: scale(.98);
  }
}

/** State: open */
.languages-dropdown.open .languages-dropdown-list {
  opacity: 1;
  pointer-events: all;
  transform: translateY(10px) translateX(-50%);
}
