<div class="tirette-container scrollbar">
    <div class="tirette-wrapper">
        <div id="exercice" class="exercice scrollbar mat-elevation-z8" [ngClass]="'is-' + stateInfo">
            <div class="exercice-inner">
                <div class="tirettes">
                    <div *ngFor="let tirette of sentence?.Tirettes" class="tirette-wrap">
                        <div class="tirette-inner">
                            <div class="tirette">
                                <ul>
                                    <li *ngFor="let word of tirette.Words">{{ word.Value }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="tirette-speaker" mat-fab color="primary" (click)="speak()">
            <mat-icon>volume_up</mat-icon>
        </button>
    </div>
</div>
