/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import '../../../assets/scss/variables';

@mixin strip {
  background: #aeaeae;
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  transition: background 0.25s ease;
  z-index: 20;
}

.tirette-container {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1.5rem;
  text-align: center;
}

.tirette-wrapper {
  display: inline-block;
  position: relative;
}

.exercice {
  background: #fff;
  border: 6px solid #dedede;
  border-radius: 15px;
  display: inline-block;
  height: 300px;
  overflow-y: hidden;
  overflow-x: auto;
  min-height: 300px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  position: relative;
  transition: border-color 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.exercice-inner {
  position: relative;
}

.tirette-speaker {
  bottom: -16px;
  position: absolute;
  right: -16px;
  z-index: 50;
}

.tirettes {
  align-items: flex-start;
  display: flex;
}

.tirette-wrap {
  margin: 0 10px;
  position: relative;

  &::after,
  &::before {

    @include strip();

    top: 0;
    height: 40px;
    width: 20px;
  }

  &::before {
    left: -20px;
  }

  &::after {
    right: -20px;
  }

  &:first-child {
    margin-left: auto;

    li:first-letter {
      text-transform: uppercase !important;
    }
  }

  &:last-child {
    margin-right: auto;

    li:after {
      content: ".";
    }
  }
}

.tirette-inner {

  touch-action: none;

  &::after,
  &::before {
    @include strip();

    height: 10px;
    left: -20px;
    right: -20px;
  }

  &::after {
    top: 37px;
  }

  &::before {
    top: -7px;
  }

  &:first-child::before,
  &:first-child::after,
  &:last-child::before,
  &:last-child::after {
    border-radius: 5px;
  }
}

.tirette {
  border: 3px solid #c8c8c8;
  border-radius: 5px;
  background: #f4f4f4;
  position: relative;
  margin-top: 0;
  transition: border-color 0.25s ease;
}

.tirette:hover {
  border-color: map-get(mat.$m2-deep-purple-palette, 600);
  cursor: url('https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur'), default !important;
}

.tirette ul {
  color: #666;
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

.tirette li {
  line-height: 40px;
  white-space: nowrap;
}

.exercice.is-correct {
  border-color: $color-positive;

  .tirette {
    border-color: $color-positive;
  }

  .tirette-inner,
  .tirette-wrap {
    &::before,
    &::after {
      background: $color-positive;
    }
  }
}

.exercice.is-incorrect {
  border-color: $color-negative;

  .tirette {
    border-color: $color-negative;
  }

  .tirette-inner,
  .tirette-wrap {
    &::before,
    &::after {
      background: $color-negative;
    }
  }
}
