<div class="load-save-dialog">
    <h2 mat-dialog-title>Charger une partie</h2>
    <div mat-dialog-content>
        <div class="saves">
            <div class="save-header">
                <div class="save-header-firstname">Prénom</div>
                <div class="save-header-exercise">Exercice</div>
                <div class="save-header-mode">Mode</div>
                <div class="save-header-progress">Progression</div>
                <div class="save-header-actions">Actions</div>
            </div>
            <div class="save-none" *ngIf="savedGames.length == 0">
                Aucune partie enregistrée sur ce poste!
            </div>
            <div class="save" *ngFor="let game of savedGames">
                <div class="save-firstname">
                    {{ game.getStudent() }}
                </div>
                <div class="save-exercise">
                    {{ game.getExercise().Name }}
                </div>
                <div class="save-mode">
                    <ng-container [ngSwitch]="game.getMode()">
                        <ng-container *ngSwitchCase="'tirettes'">Tirettes</ng-container>
                        <ng-container *ngSwitchCase="'chains'">Chaînes</ng-container>
                        <ng-container *ngSwitchCase="'silhouettes'">Silhouettes</ng-container>
                        <ng-container *ngSwitchCase="'gram-class'">Classes</ng-container>
                    </ng-container>
                </div>
                <div class="save-progress">
                    {{ game.getCurrentStep() }}/{{ game.getStepsAmount() }}
                </div>
                <div class="save-actions">
                    <button mat-button color="primary" (click)="select(game)" matTooltip="Charger la partie">
                        <mat-icon>save_alt</mat-icon>
                    </button>
                    <button mat-button color="primary" (click)="remove(game)" matTooltip="Supprimer la partie">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <hr/>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
    </div>
</div>
