/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import '../../../assets/scss/variables';

.load-save-dialog {
  min-width: 450px;
}

.save {
  align-items: center;
  display: flex;

  &:nth-child(odd) {
    background: map-get(mat.$m2-grey-palette, 100);
  }
}

.save-header {
  align-items: center;
  background: map-get(mat.$m2-grey-palette, 600);
  color: map-get(mat.$m2-grey-palette, 50);
  display: flex;

  > div {
    padding: 5px 10px;
  }
}

.save-header-firstname,
.save-firstname {
  flex: 1;
  padding-left: 10px;
}

.save-header-exercise,
.save-exercise {
  text-align: center;
  width: 160px;
}

.save-header-mode,
.save-mode {
  text-align: center;
  width: 120px;
}

.save-header-progress,
.save-progress {
  text-align: center;
  width: 100px;
}

.save-header-actions,
.save-actions {
  width: 128px;
}

.save-header-actions {
  text-align: center;
}

.save-none {
  padding: 10px;
  text-align: center;
}
