<div id="view-game-gram" class="view-game-gram">
    <img class="view-game-gram-logo" src="../../../../../assets/images/logo-hep.svg" alt="HEP Fribourg"/>
    <div class="va">
        <div class="va-middle">
            <div class="view-tutorial" *ngIf="game?.getCurrentStep() == 1 && !game?.canGoToNextStep()">
                Associe correctement les classes grammaticales avec les mots.
            </div>
            <div class="view-tutorial" *ngIf="game?.getCurrentStep() == 1  && game?.canGoToNextStep()">
                Bravo, tu as compris! Clique sur la flèche verte pour continuer.
            </div>
            <div class="view-game-gram-sentence scrollbar" [ngClass]="'is-' + stateInfo">
                <div *ngFor="let unit of sentence" class="game-gram-sentence-part panel">
                    <div class="game-gram-sentence-text">
                        {{ unit.Word.Value }}
                    </div>
                    <div *ngIf="!unit.IsLocked" class="game-gram-sentence-class empty" dragula="bag"
                         [(dragulaModel)]="unit.ChosenClass">
                        <button *ngFor="let class of unit.ChosenClass" class="game-gram-class">
                            {{ class.Name }}
                        </button>
                    </div>
                    <div *ngIf="unit.IsLocked" class="game-gram-sentence-class-locked">
                        {{ unit.ChosenClass[0]?.Name }}
                    </div>
                </div>
            </div>
            <div *ngIf="!game?.canGoToNextStep()" class="view-game-gram-classes panel" dragula="bag"
                 [(dragulaModel)]="classes">
                <button *ngFor="let class of classes" class="game-gram-class">
                    {{ class.Name }}
                </button>
            </div>
        </div>
    </div>
    <div class="view-controls-bottom">
        <div class="view-controls-bottom-inner view-controls-bottom-inner-1">
            <button *ngIf="!game?.canGoToNextStep()"
                    (click)="validate()"
                    class="button-clean"
                    matTooltip="Valider la réponse">
                <img src="../../../../../assets/images/buttons/button-ok.svg" width="80"/>
            </button>
            <button (click)="next()"
                    class="button-clean"
                    matTooltip="Question suivante"
                    *ngIf="game?.canGoToNextStep()">
                <img src="../../../../../assets/images/buttons/button-forward.svg" width="80"/>
            </button>
        </div>
    </div>
</div>
