/* ----------------------------------------------------------- *
 |
 |  View's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;

@import '../../../../../assets/scss/variables';

.view-game-gram {
  height: 100%;
  padding-bottom: 105px;
  text-align: center;
}

.view-game-gram-logo {
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.view-game-gram-sentence {
  background: rgba(0, 0, 0, 0.15);
  display: inline-flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%;
  padding: 15px 7px;

  > div {
    margin-right: 0.2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.game-gram-sentence-part {
  border-radius: 5px;
  margin-bottom: 10px;
  white-space: nowrap;

  &:first-child .game-gram-sentence-text:first-letter {
    text-transform: uppercase !important;
  }

  &:last-child .game-gram-sentence-text:after {
    content: ".";
    margin-left: -6px;
  }
}

.game-gram-sentence-text {
  background: map-get(mat.$m2-grey-palette, 100);
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
  padding: 0.2rem;
}

.game-gram-sentence-class {
  background: white;
  min-height: 40px;
  text-align: center;
}

.game-gram-sentence-class-locked {
  background: map-get(mat.$m2-grey-palette, 200);
  color: map-get(mat.$m2-grey-palette, 700);
  height: 46px;
  line-height: 46px;
}

.game-gram-sentence-class .game-gram-class {
  background: map-get(mat.$m2-amber-palette, 600);
  border-radius: 0;
  color: white;
  width: 100%;
}

.view-game-gram-sentence.is-correct .game-gram-class {
  background: $color-positive;
  border-color: $color-positive;
}

.view-game-gram-classes {
  min-height: 86px;
  margin: 15px auto auto auto;
  max-width: 600px;
  padding: 15px 25px;
  text-align: center;
}

.game-gram-class {
  background: white;
  border: 3px solid map-get(mat.$m2-amber-palette, 600);
  border-radius: 10px;
  color: map-get(mat.$m2-amber-palette, 600);
  display: inline-block;
  padding: 8px 10px;

  &:active,
  &:focus,
  &:hover {
    background: map-get(mat.$m2-amber-palette, 600);
    color: white;
    cursor: pointer;
  }
}

.view-game-gram-classes .game-gram-class {
  margin: 5px;
}
