/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.leaderboard-dialog {

  p {
    max-width: 300px;
  }

  img {
    margin-right: 10px;
    width: 30px;
  }
}
