<div class="leaderboard-dialog">
    <h2 mat-dialog-title><img src="assets/images/score.svg" alt="Score"/> Enregistre ton score</h2>
    <div mat-dialog-content>
        <p>Enregistre ton score de <strong>{{ score }}</strong> et tu apparaîtras peut-être dans le classement de cet
            exercice !</p>
        <mat-form-field>
            <input matInput placeholder="Entre ton pseudo" [(ngModel)]="nickname" maxlength="16">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button (click)="validate()" color="primary">Valider</button>
    </div>
</div>
