<div id="view-tirettes" class="view-tirettes" [ngClass]="'is-' + stateInfo">
    <img class="view-tirettes-logo" src="../../../../../assets/images/logo-hep.svg" alt="HEP Fribourg"/>
    <div class="va">
        <div class="va-middle">
            <div class="view-tutorial" *ngIf="game?.getCurrentStep() == 1 && !game?.canGoToNextStep()">
                Crée des phrases correctes en alignant les mots.
            </div>
            <div class="view-tutorial" *ngIf="game?.getCurrentStep() == 1 && game?.canGoToNextStep()">
                Bravo, tu as compris! Clique sur la flèche verte pour continuer.
            </div>
            <div class="view-tirettes-progress">
                <app-tirette *ngIf="game"
                             [sentence]="game.getCurrentSentence()"
                             [stateInfo]="stateInfo"
                             (onCombinationChanged)="onCombinationChanged($event)"
                             (onSpeechSynthesisUsed)="onSpeechSynthesisUsed()"></app-tirette>
                <div class="view-tirettes-solutions-found">
                    <div class="view-tirettes-solutions-found-inner">
                        <ng-container *ngIf="game?.isStepCompleted()">
                            <div class="view-tirettes-completed">
                                Bravo! Tu as trouvé toutes les solutions pour cette phrase!
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!game?.isStepCompleted()">
                            <strong>Tu as trouvé <span
                                    class="positive">{{ game.CurResult.SolutionsFound.length }}</span>
                                solution(s) sur {{ game.CurResult.SolutionsAmount }}.</strong><br/> Tu dois en avoir au
                            moins {{ minSolutionsToGoNext }} pour aller à la question suivante!
                        </ng-container>
                        <button mat-fab color="primary" (click)="showSolutions()">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="view-controls-bottom">
        <div class="view-controls-bottom-inner"
             [ngClass]="game?.canGoToNextStep() && !game?.isStepCompleted() ? 'view-controls-bottom-inner-2' : 'view-controls-bottom-inner-1'">
            <button (click)="validate()"
                    class="button-clean"
                    *ngIf="!game?.isStepCompleted()" matTooltip="Valider la réponse">
                <img src="../../../../../assets/images/buttons/button-ok.svg" width="80"/>
            </button>
            <button (click)="next()" matTooltip="Question suivante"
                    class="button-clean"
                    *ngIf="game?.canGoToNextStep()">
                <img src="../../../../../assets/images/buttons/button-forward.svg" width="80"/>
            </button>
        </div>
    </div>
</div>
