/* ----------------------------------------------------------- *
 |
 |  View's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import '../../../../../assets/scss/variables';

.view-tirettes {
  height: 100%;
  padding-bottom: 50px;
  padding-top: 1px;
}

.view-tirettes-logo {
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.view-tirettes-question {
  color: $color-neutral;
  font-weight: bold;
}

.view-tirettes-completed {
  background: $color-positive;
  border-radius: 5px;
  color: white;
  padding: 7px 8px;
  vertical-align: middle;
}

.view-tirettes-solutions {
  color: $color-positive;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: -23px;
  text-align: center;
}

.view-tirettes-solutions-found {
  text-align: center;
}

.view-tirettes-solutions-found-inner {
  background: white;
  border-radius: 10px;
  display: inline-block;
  margin-top: 15px;
  max-width: 100%;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 550px;

  button {
    position: absolute;
    top: 5px;
    right: -28px;
  }
}
