/* ----------------------------------------------------------- *
 |
 |  View's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import '../../../../../assets/scss/variables';

@mixin chain-color($palette) {
  background: map-get($palette, 500);
  border-color: darken(map-get($palette, 500), 15%);
  color: white;

  .chains-sentence-text {
    background: map-get($palette, 400);
    color: white;
  }
}

.view-chains {
  height: 100%;
  padding-bottom: 105px;
  text-align: center;
}

.view-chains-logo {
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.view-chains-sentence {
  background: rgba(0, 0, 0, 0.15);
  display: inline-flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%;
  padding: 15px 7px;

  > div {
    margin-right: 0.2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &.is-correct .chains-sentence-chain {
    display: none;
  }
}

.chains-sentence-part {
  border-radius: 5px;
  margin-bottom: 10px;
  white-space: nowrap;

  &.class-inv {
    height: 44px;

    .chains-sentence-chain {
      display: none;
    }
  }

  &:last-child .chains-sentence-text:after {
    content: ".";
    margin-left: -5px;
  }

  &.chain-1 {
    @include chain-color(mat.$m2-blue-palette);
  }

  &.chain-2 {
    @include chain-color(mat.$m2-amber-palette);
  }

  &.chain-3 {
    @include chain-color(mat.$m2-green-palette);
  }

  &.chain-4 {
    @include chain-color(mat.$m2-pink-palette);
  }

  &.chain-5 {
    @include chain-color(mat.$m2-deep-orange-palette);
  }
}

.chains-sentence-text {
  background: map-get(mat.$m2-grey-palette, 200);
  color: map-get(mat.$m2-grey-palette, 700);
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  text-align: center;
}

.chains-sentence-part .chains-chain {
  background: map-get(mat.$m2-amber-palette, 600);
  border-radius: 0;
  color: white;
  width: 100%;
}

.chains-sentence-chain {
  padding: 8px 5px;
  text-align: center;
}

.chains-sentence-chain-locked {
  background: map-get(mat.$m2-grey-palette, 200);
  color: map-get(mat.$m2-grey-palette, 700);
  height: 40px;
}
