<div id="view-chains" class="view-chains">
    <img class="view-chains-logo" src="../../../../../assets/images/logo-hep.svg" alt="HEP Fribourg"/>
    <div class="va">
        <div class="va-middle">
            <div class="view-tutorial" *ngIf="game?.getCurrentStep() == 1 && !game?.canGoToNextStep()">
                Groupe les mots qui s'accordent entre eux.
            </div>
            <div class="view-tutorial" *ngIf="game?.getCurrentStep() == 1  && game?.canGoToNextStep()">
                Bravo, tu as compris! Clique sur la flèche verte pour continuer.
            </div>
            <div class="view-chains-sentence scrollbar" [ngClass]="'is-' + stateInfo">
                <div *ngFor="let unit of sentence" class="chains-sentence-part panel"
                     [ngClass]="['chain-' + unit.ChosenChain?.Number, 'class-' + unit.Tirette.GrammaticalClass.Id]">
                    <div class="chains-sentence-text">
                        {{ unit.Word.Value }}
                    </div>
                    <div class="chains-sentence-chain"
                         [ngClass]="unit.Tirette.GrammaticalClass.IsInvariable ? 'chains-sentence-chain-locked' : ''">
                        <select *ngIf="!unit.Tirette.GrammaticalClass.IsInvariable"
                                (change)="onChainChangedHandler()"
                                [(ngModel)]="unit.ChosenChain">
                            <option [ngValue]="null">Aucune</option>
                            <option *ngFor="let c of chains" [ngValue]="c">{{ c.Name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="view-controls-bottom">
        <div class="view-controls-bottom-inner view-controls-bottom-inner-1">
            <button *ngIf="!game?.isStepCompleted()"
                    (click)="validate()"
                    class="button-clean"
                    matTooltip="Valider la réponse">
                <img src="../../../../../assets/images/buttons/button-ok.svg" width="80"/>
            </button>
            <button (click)="next()"
                    matTooltip="Question suivante"
                    class="button-clean"
                    *ngIf="game?.canGoToNextStep()">
                <img src="../../../../../assets/images/buttons/button-forward.svg" width="80"/>
            </button>
        </div>
    </div>
</div>
