<div class="replayer">
    <div *ngIf="sentence">
        <app-tirette [sentence]="sentence"></app-tirette>
        <div class="replayer-actions">
            <div *ngFor="let action of actions">
                {{ action.time | date:'hh:mm' }} - {{ action.action }} - {{ action.data | json }}
            </div>
        </div>
        <div class="replayer-timeline">
            <div class="replayer-timeline-action">Tirettes</div>
            <div class="replayer-timeline-bar">
                <div class="replayer-timeline-control"></div>
            </div>
        </div>
    </div>
</div>
