.replayer {
  background: white;
  height: 100vh;
  width: 100vw;
}

.replayer-timeline-action {
  text-align: center;
}

.replayer-timeline-bar {
  background: red;
  height: 10px;
  position: relative;
  width: 100%;
}

.replayer-timeline-control {
  background: blue;
  position: absolute;
  bottom: -5px;
  left: 50%;
  top: -5px;
  width: 6px;
}
