/* ----------------------------------------------------------- *
 |
 |  Components's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import '../../../assets/scss/variables';

.environment {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.flower {
  height: 800px;
  width: 800px;
  position: absolute;
  bottom: -50px;
  left: 150px;

  svg {
    max-width: 100%;
  }
}

.environment-hero {
  bottom: 1vh;
  left: 50px;
  position: absolute;
  height: 18vw;
  width: 18vw;

  max-height: 300px;
  max-width: 300px;

  min-height: 180px;
  min-width: 180px;
}

.environment-boy .environment-hero {
  height: 26vw;
  width: 26vw;
}

.environment-layer {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition: left 2.75s 0.2s ease-in-out;
}

.environment-girl .environment-layer {
  transition: left 2.1s 0.2s ease-in-out;
}

.environment-boy .environment-layer {
  transition: left 2.4s 0.8s ease-in-out;
}

.environment-layer-1 {
  width: 345vw;
  z-index: -100;
}

.environment-layer-2 {
  width: 230vw;
  z-index: -200;
}

.environment-layer-3 {
  width: 115vw;
  z-index: -300;
}

.environment-viking {
  .environment-layer-1 {
    background: url('/assets/images/environments/env-v-01.svg') no-repeat bottom left / cover;
  }

  .environment-layer-2 {
    background: url('/assets/images/environments/env-v-02.svg') no-repeat bottom left / cover;
  }

  .environment-layer-3 {
    background: url('/assets/images/environments/env-v-03.svg') no-repeat bottom left / cover;
  }
}

.environment-girl {
  .environment-layer-1 {
    background: url('/assets/images/environments/env-g-01.svg') no-repeat bottom left / cover;
  }

  .environment-layer-2 {
    background: url('/assets/images/environments/env-g-02.svg') no-repeat bottom left / cover;
  }

  .environment-layer-3 {
    background: url('/assets/images/environments/env-g-03.svg') no-repeat bottom left / cover;
  }
}

.environment-boy {
  .environment-layer-1 {
    background: url('/assets/images/environments/env-b-01.svg') no-repeat bottom left / cover;
  }

  .environment-layer-2 {
    background: url('/assets/images/environments/env-b-02.svg') no-repeat bottom left / cover;
  }

  .environment-layer-3 {
    background: url('/assets/images/environments/env-b-03.svg') no-repeat bottom left / cover;
  }
}
