<div class="environment" [ngClass]="'environment-' + hero">
    <div class="environment-hero">
        <app-girl [autoplay]="true" *ngIf="hero == 'girl'" #hero></app-girl>
        <app-viking [autoplay]="true" *ngIf="hero == 'viking'" #hero></app-viking>
        <app-boy [autoplay]="true" *ngIf="hero == 'boy'" #hero></app-boy>
    </div>
    <div class="environment-layer environment-layer-1" [ngStyle]="{'left': p1Left + 'vw'}"></div>
    <div class="environment-layer environment-layer-2" [ngStyle]="{'left': p2Left + 'vw'}"></div>
    <div class="environment-layer environment-layer-3" [ngStyle]="{'left': p3Left + 'vw'}"></div>
</div>