/* ----------------------------------------------------------- *
 |
 |  View's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;

@import '../../../../../assets/scss/variables';

.view-silhouettes {
  height: 100%;
  padding-bottom: 105px;
  text-align: center;
}

.view-silhouettes-logo {
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.view-silhouettes-sentence {
  background: rgba(0, 0, 0, 0.15);
  display: inline-flex;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: auto;
  padding: 15px 7px;

  > div {
    margin-right: 0.2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.silhouettes-sentence-part {
  border-radius: 5px;
  margin-bottom: 10px;
  white-space: nowrap;

  &:first-child .silhouettes-word:first-letter {
    text-transform: uppercase !important;
  }

  &:last-child .silhouettes-word:after {
    content: ".";
    margin-left: -5px;
  }
}

.silhouettes-sentence-text {
  font-size: 1.5rem;
  font-weight: 100;
  min-height: 42px;
  text-align: center;
}

.silhouettes-sentence-text-locked {
  background: map-get(mat.$m2-grey-palette, 200);
  color: map-get(mat.$m2-grey-palette, 700);
  padding: 0 7px;
}

.silhouettes-sentence-part .silhouettes-word {
  background: map-get(mat.$m2-amber-palette, 600);
  border-radius: 0;
  color: white;
  padding: 0 10px;
  width: 100%;
}

.silhouettes-sentence-class {
  background: map-get(mat.$m2-grey-palette, 200);
  color: map-get(mat.$m2-grey-palette, 700);
  text-align: center;
  padding: 0.25rem 0.75rem;
  line-height: 1;
}

.view-silhouettes-sentence.is-correct .silhouettes-word {
  background: $color-positive;
  border-color: $color-positive;
}

.view-silhouettes-classes {
  min-height: 86px;
  margin: 15px auto auto auto;
  max-width: 600px;
  padding: 15px 25px;
  text-align: center;
}

.silhouettes-word {
  background: white;
  border: 3px solid map-get(mat.$m2-amber-palette, 600);
  border-radius: 10px;
  color: map-get(mat.$m2-amber-palette, 600);
  display: inline-block;
  padding: 8px 10px;

  &:active,
  &:focus,
  &:hover {
    background: map-get(mat.$m2-amber-palette, 600);
    color: white;
    cursor: pointer;
  }

  &:first-letter {
    text-transform: lowercase;
  }
}

.view-silhouettes-classes .silhouettes-word {
  margin: 5px;
}
