<div id="view-silhouettes" class="view-silhouettes">
    <img class="view-silhouettes-logo" src="/assets/images/logo-hep.svg" alt="HEP Fribourg"/>
    <div class="va">
        <div class="va-middle">
            <div class="view-tutorial" *ngIf="game?.getCurrentStep() == 1 && !game?.canGoToNextStep()">
                Place les mots dans les bonnes cases pour faire une phrase correcte.
            </div>
            <div class="view-tutorial" *ngIf="game?.getCurrentStep() == 1  && game?.canGoToNextStep()">
                Bravo, tu as compris! Clique sur la flèche verte pour continuer.
            </div>
            <div class="scrollbar view-silhouettes-sentence" [ngClass]="'is-' + stateInfo">
                <div *ngFor="let unit of sentence" class="silhouettes-sentence-part panel">
                    <div class="silhouettes-sentence-class">
                        {{ unit.Tirette.GrammaticalClass.Name }}
                    </div>
                    <div *ngIf="!unit.IsLocked" class="silhouettes-sentence-text empty" dragula="bag"
                         [(dragulaModel)]="unit.ChosenWord">
                        <button *ngFor="let word of unit.ChosenWord" class="silhouettes-word">
                            {{ word.Value }}
                        </button>
                    </div>
                    <div *ngIf="unit.IsLocked" class="silhouettes-sentence-text silhouettes-sentence-text-locked">
                        {{ unit.ChosenWord[0]?.Value }}
                    </div>
                </div>
            </div>
            <div *ngIf="!game?.canGoToNextStep()" class="view-silhouettes-classes panel" dragula="bag"
                 [(dragulaModel)]="words">
                <button *ngFor="let word of words" class="silhouettes-word">
                    {{ word.Value }}
                </button>
            </div>
        </div>
    </div>
    <div class="view-controls-bottom">
        <div class="view-controls-bottom-inner view-controls-bottom-inner-1">
            <button *ngIf="!game?.canGoToNextStep()"
                    class="button-clean"
                    (click)="validate()">
                <img src="../../../../../assets/images/buttons/button-ok.svg" width="80"/>
            </button>
            <button (click)="next()"
                    matTooltip="Question suivante"
                    class="button-clean"
                    *ngIf="game?.canGoToNextStep()">
                <img src="../../../../../assets/images/buttons/button-forward.svg" width="80"/>
            </button>
        </div>
    </div>
</div>
