<div class="view" [ngClass]="'view-' + game?.getHero()">
    <ng-container *ngIf="game">
        <app-environment [hero]="game.getHero()" #environment></app-environment>
        <ng-container *ngIf="game?.isInProgress()">
            <app-game-score [game]="game" [showScore]="!layoutSettings.contained" #score></app-game-score>
            <div class="view-button-back" *ngIf="!layoutSettings.contained">
                <button routerLink="/"
                        matTooltip="Retour"
                        class="button-clean">
                    <img src="assets/images/buttons/button-back.svg" width="80"/>
                </button>
            </div>

            <ng-template appPlayInsert></ng-template>

            <div class="view-play-save" *ngIf="!layoutSettings.contained">
                <button class="button button-yellow button-sm" (click)="save()">
                    <span class="fa fa-save"></span> Sauvegarder
                </button>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="game && !game.isInProgress()">
        <div>
            <div [ngSwitch]="summarySelected" class="view-play-end">
                <app-summary [game]="game" *ngSwitchCase="true"
                             [bound]="layoutSettings.contained"
                             (scoreSaved)="onScoreSavedHandler()"></app-summary>
                <app-leaderboard [ranks]="ranks" *ngSwitchCase="false"></app-leaderboard>
            </div>
        </div>

        <div class="view-controls-bound" *ngIf="layoutSettings.contained">
            <div>
                <button class="button-lg"
                        (click)="boundOut()">
                    Retour
                </button>
                <button class="button-lg"
                        (click)="replay()">
                    Rejouer
                </button>
            </div>
        </div>

        <div class="view-controls-bottom" *ngIf="!layoutSettings.contained">
            <div class="view-controls-bottom-inner"
                 [ngClass]="game?.getExercise().HasLeaderboard ? 'view-controls-bottom-inner-3' : 'view-controls-bottom-inner-2'">
                <button (click)="replay()" matTooltip="Recommencer" class="button-clean">
                    <img src="assets/images/buttons/button-replay.svg" width="80"/>
                </button>
                <button *ngIf="game?.getExercise().HasLeaderboard"
                        class="button-clean"
                        (click)="summarySelected ? showLeaderboard() : showSummary()"
                        [matTooltip]="summarySelected ? 'Classement' : 'Résumé'"
                        [ngSwitch]="summarySelected">
                    <img src="assets/images/buttons/button-star.svg" width="80"/>
                </button>
                <button routerLink="/" matTooltip="Sortir de l'exercice" class="button-clean">
                    <img src="assets/images/buttons/button-home.svg" width="80"/>
                </button>
            </div>
        </div>
    </ng-container>
</div>
