/* ----------------------------------------------------------- *
 |
 |  View's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.view-play-end {
  min-height: 100vh;
  padding-bottom: 105px;
  text-align: center;
}

.view-play-save {
  bottom: 20px;
  position: absolute;
  right: 35px;
}
