/* ----------------------------------------------------------- *
 |
 |  View's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.hero-viking {

  svg {
    transform: scale(1.5, 1.5);
    pointer-events: none;
  }
}
