/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;

@import '../../../assets/scss/variables';

// this is the root element of the component
.leaderboard {
  text-align: center;

  h1, h2 {
    line-height: 1.1;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

.leaderboard-inner {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: inline-block;
  max-height: calc(100vh - 150px);
  max-width: 700px;
  overflow-y: auto;
  padding: 25px 15px 15px 15px;
  width: 100%;
}

// wraps all of our ranks
.ranks {
  @include mat.elevation(4);
  background: white;
  margin: 15px auto auto auto;
  max-width: 400px;
}

// a rank item is composed of
// a number, a nickname and a score
.rank {
  display: flex;

  &:nth-child(odd) {
    background: map-get(mat.$m2-grey-palette, 100);
  }
}

// standard number, ranks and score
.rank-number {
  align-items: center;
  display: flex;
  padding: 15px 0 15px 15px;
  text-align: center;
  width: 10%;
}

.rank-nickname {
  align-items: center;
  display: flex;
  font-weight: 100;
  line-height: 1.1;
  padding: 15px;
  width: 75%;
}

.rank-score {
  color: $color-positive;
  padding: 15px 15px 15px 0;
  text-align: right;
  width: 15%;
}

// special line for the first score
.rank.is-first .rank-nickname {
  background: url('/assets/images/medal.svg') left center / 40px 40px no-repeat;
  font-size: 1.5rem;
  padding-left: 45px;
  text-align: center;
}
