<div class="leaderboard" [@opening]>
    <div class="leaderboard-inner panel scrollbar">
        <h1>Le classement des chefs</h1>
        <h5>les meilleurs scores sur cet exercice et ce mode</h5>
        <div class="container">
            <div *ngIf="ranks.length == 0">
                Pour le moment, il n'y a pas de score enregistré!
            </div>
            <div *ngIf="ranks.length > 0" class="ranks">
                <div class="rank" [ngClass]="{'is-first': i == 0}" *ngFor="let rank of ranks; let i = index;">
                    <div class="rank-number">
                        {{ i + 1 }}
                    </div>
                    <div class="rank-nickname">
                        {{ rank.Nickname }}
                    </div>
                    <div class="rank-score">
                        {{ rank.Score }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
