<div class="sentence-dialog">
    <h2 mat-dialog-title>Charger un exercice</h2>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Code de l'exercice" [(ngModel)]="code">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button (click)="validate()" color="primary">Valider</button>
    </div>
</div>